# exclude all
/*

# include projects
!src/

# include README.md and meta files
!README.md
!LICENSE

# include git important files
!.gitignore

# include maven files
!pom.xml

# include build related files
!.circleci
