# exclude all
/*

# include projects
!pom.xml
!unification-service/src
!unification-service/pom.xml

!map-converter-service/src
!map-converter-service/pom.xml

!autosort/src
!autosort/pom.xml

# include README.md and meta files
!README.md
!LICENSE

# include git important files
!.gitignore

# include build related files
!.circleci
